input:hover input:active{
  background-color: rgb(29, 47, 206);
}
a {
    color: rgb(0, 255, 238);
}
a {
    text-decoration-color: white;
}
a:hover a:input {
    background-color: blue;
}
body {
    background-color: greenyellow;
}